{% extends "layout.html" %}

{% block body %}

<section id="data-summary">
    <h1 class="h-secondary">Data Summary</h1>
    <p><strong>Total number of Rows:</strong> 1599</p>
    <p><strong>Total number of Columns:</strong> 12</p>
    <hr class="summary-divider">
    <p class="summary-subheader">Checking for Null values</p>
    <p><strong>Total number of Null values present in all Columns:</strong> <span class="highlight-yellow">0</span></p>
    <hr class="summary-divider">
    <p class="summary-subheader">Checking for Duplicate values</p>
    <p><strong>Total number of duplicates present in all Columns:</strong> <span class="highlight-yellow">240</span></p>
</section>

<section id="data-summary">
    <h2 class="h-secondary">Summary of Data</h2>
    <ul>
        <li>The dataset has 11 independent variables and 1 dependent variable.</li>
        <li><strong>Null</strong> values have <strong>NOT</strong> been found.</li>
        <li><strong>240 Duplicate</strong> values have been found and dropped.</li>
    </ul>
    <hr class="summary-divider">
    <p><strong>The dataset</strong> contains two distinct data types:</p>
    <ul>
        <li>float</li>
        <li>int</li>
    </ul>

</section>

<section id="changes-moving-forward">
    <h2 class="h-secondary">Changes Moving Forward</h2>
    <ul>
        <li>Dropping the duplicates</li>
        <li>Resetting the index</li>
    </ul>
</section>

{% endblock %}
